<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tamagotchi</title>
    </head>
    <body>
        <h1>Make a Tamagotchi pet!</h1>
        <form action='/my_tamagotchi' method='post'>
        <label for='name'>Name: </label>
        <input id='name' name='name' type='text'>

        <button type='submit'>Create Tamagotchi</button>
    </form>
    </body>
</html>
